/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/*Title*/

.title {
    position: relative;
    padding: 50px 100px;
}


h1 {
    border: 4px;
    font-size: 60px;
    font-family: "degular";
    height:120px ;
    width:401px ;
    }

.coder {
    text-align: left;
}

@font-face {
    font-family: "degular";
    src: url("DegularDisplay-Regular.otf") format("truetype");
}

body {
    font-family: "degular";
}

.portfolio {
    position: relative;
    background-color: #cb99c9;
    margin: -80px 220px 20px 220px;
    height: 550px;
    width: 850px;
}



/*Nav menu*/
ul{
    width: 100%;
    display: table;
    text-align: center;
}

.menu li {
    display: inline-block;
    align-items: center;
    margin: 16px;
}

.menu {
    margin: 0;
    position: sticky;
    top: 0;
    background-color: white;
}

.menu a {
    text-decoration: none;
    background-color: white;
    display: inline-block;
    padding: 12px;
    border-radius: 70%;
    color: black;
    position: relative;
    border-bottom: solid #C3B1E1;
}

.menu a:hover {
    background-color: mintcream ;
}

/*.menu {
    background-color: bisque;
}*/

.hello {
    width: 880px;
    height: 200px;
    margin: 2px;
    padding-left: 50px;
}

/*Omne*/

.aboutme {
    overflow: auto;
    width: 1080px;
}


.laura {
    width: 300px;
    height: 320px;
    margin: 20px;
    float: left;
    border-radius: 25%;
    overflow: auto;
}

.aboutme {   
     border: 2px solid #C3B1E1;
    border-radius: 12px;
    margin: 20px 180px 20px 180px;
}
.aboutme a {
    float: right;
    position: static;
    text-align: left;
    overflow: auto;
    padding: 20px;
    font-size: 16px;
    letter-spacing: normal;
}
    
/*Contact*/

.Contact {
    padding-left: 30px;
}
 h2 {
    border-bottom: double #C3B1E1;
 }

 .myprojects {
    padding-left: 30px;
 }

 a {
    color: purple;
 }